# Python stuff
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.flakes
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Odoo stuff
*.log
*.conf
filestore/
sessions/
addons/
odoo.conf
.project
.pydevproject

# IDEs
.vscode/
.idea/
*.swp
*~

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
modules_to_install.txt

# Custom exclusions

